<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>添加书籍</span>
  </mat-toolbar-row>
</mat-toolbar>
<div style="display: flex; justify-content: center" >
  <div style="display: block">
    <mat-form-field>
      <input matInput placeholder="书名">
    </mat-form-field>
    <mat-form-field style="margin-left: 38px">
      <input matInput placeholder="作者" >
    </mat-form-field>
  </div>
  <div style="display: block" >
    <mat-form-field>
      <input matInput placeholder="书本数量">
    </mat-form-field>
    <mat-form-field style="margin-left: 38px">
      <input matInput placeholder="剩余数量">
    </mat-form-field>
  </div>

</div>
